
body{
    margin: 0;
    font-family: sans-serif;
}
nav{
    background: rgb(6, 122, 140);
    display: flex;
    padding: 5px 20px;
    align-items: center;
    justify-content: space-between;
}
img{
    height: 50px;
}
nav a{
    color: #000000;
    text-decoration: none;
    padding: 15px;
    text-transform: uppercase;
    font-weight: bold;
    
}
#about{
    background: url("./logo.jpeg") center;
    height: 400px;
    padding: 50px 30px;
}
#about h1{
    color: #f2f2f2;
    font-size: 30px;
    margin-left: 100px;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    
    
}
#about p{
    width: 50%;
    line-height: 25px;
}
#about button{
    margin-left: 200px;
    background-color: #e6681a;
    border: none;
    padding: 15px;
    
}
footer{
    background: #002851;
    text-align: center;
    color: white;
    padding: 20px;
    text-transform: uppercase;
    
}

#links{
    background: #e47f02;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.container{
    display: flex;
    justify-content: space-evenly;
}
#links a{
    color: rgb(8, 8, 8);
    display: block;
    text-decoration: none;
    padding: 5px;
    text-transform: uppercase;
}
.paragraph
{
    color: white;
    font-weight: bold
}
.header2{
    color: blue;
}
p.p3{
    
    display: flex;
  align-items: center; /* This will vertically center the text */
  height: 2px; /* Set a height for the container to demonstrate vertical alignment */
  padding-left: 400px;
}
p.p4{
    
    display: flex;
  align-items: center; /* This will vertically center the text */
  height: 2px; /* Set a height for the container to demonstrate vertical alignment */
  padding-left: 440px;
}
div.footerh{
    color: aliceblue;
}